# HashCash Core RPC endpoint
BITCOIN_RPC_URL=http://host.docker.internal

BITCOIN_RPC_USER=
BITCOIN_RPC_PASSWORD=
BITCOIN_RPC_PORT=10309
BITCOIN_RPC_TIMEOUT=10000

# Preferred auth mode for local HCASH docker setup
BITCOIN_RPC_COOKIEFILE=/run/hashcash/.cookie

# Enable in bitcoin.conf with
# zmqpubrawblock=tcp://*:3000
# BITCOIN_ZMQ_HOST="tcp://192.168.1.100:3000"

API_PORT=3334
STRATUM_PORT=3333

#optional telegram bot
#TELEGRAM_BOT_TOKEN=

#optional discord bot
#DISCORD_BOT_CLIENTID=
#DISCORD_BOT_GUILD_ID=
#DISCORD_BOT_CHANNEL_ID=

#optional
DEV_FEE_ADDRESS=
DEV_FEE_PERCENT=1.5
# HCASH-only mode
NETWORK=hcash

API_SECURE=false
# Default is "Public-Pool", you can change it to any string it will be removed if it will make the block or coinbase script too big
POOL_IDENTIFIER="HashCash-Pool"
BOOTSTRAP_COINBASE_MESSAGE_ENABLED=false
BOOTSTRAP_COINBASE_MESSAGE=
BOOTSTRAP_COINBASE_MESSAGE_HEIGHT_MAX=1
